/* Custome Fonts */

@font-face {
    font-family: 'xyz-Regular';
    src: url(../css/fonts/);
}

/* *********************************** */

/* Inter */

@font-face {
    font-family: 'Int-Bold';
    src: url(../all-css/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Int-ExtraBold';
    src: url(../css/fonts/Inter/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Int-ExtraLight';
    src: url(../css/fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'Int-Light';
    src: url(../css/fonts/Inter/Inter-Light.ttf);
}

@font-face {
    font-family: 'Int-Medium';
    src: url(../css/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Int-Regular';
    src: url(../css/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Int-SemiBold';
    src: url(../css/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Int-Thin';
    src: url(../css/fonts/Inter/Inter-Thin.ttf);
}

/* ************************* */

/* ************* */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Int-Regular';
}
.p_0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.main{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
}

/* ******************************************************************************************** */































































































































































































































































































